/* html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}
.header {
  height: 140px;
  padding: 20px 0px;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
}
.header h3 {
  font-size: 18px;
}
.header p {
  font-size: 22px;
}
.photo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 180px;
}
.photo img {
  width: 100%;
}
.about {
  margin: 10px auto;
  width: 900px;
}
.about h3 {
  font-size: 18px;
}
.about p {
  line-height: 1.9;
}
.skills {
  margin: 10px auto;
  width: 900px;
}
.skills h3 {
  font-size: 18px;
}
.skills ul li {
  list-style-type: square;
  margin: 10px 0px;
}
.education {
  margin: 10px auto;
  width: 900px;
}
.education h3 {
  font-size: 18px;
}
.education .d {
  font-style: italic;
}
.education .title {
  font-size: 17px;
}
.courses {
  margin: 10px auto;
  width: 900px;
}
.courses h3 {
  font-size: 18px;
}
.courses .period {
  font-style: italic;
}
.courses .title {
  font-size: 17px;
}
.courses .divider {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}
.experience {
  margin: 10px auto;
  width: 900px;
  margin-bottom: 50px;
}
.language {
  margin: 10px auto;
  width: 900px;
  margin-bottom: 50px;
}
.experience h3 {
  font-size: 18px;
}
.works {
  margin: 10px auto;
  width: 900px;
  margin-bottom: 50px;
  margin: 10px auto;
}
.works p {
  margin-bottom: -5px;
}
.contact {
  margin: 0px;
  margin: 10px auto;
  width: 900px;
  margin-bottom: 50px;
} */
.header {
  padding: 20px 0px;
  margin: 20px 0px;
}
.header h1 {
  color: rgb(0, 153, 255);
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
.header h2 {
  color: #777;
  font-size: 20px;
  text-transform: uppercase;
}
.divider {
  display: block;
  border: 2px solid rgb(0, 153, 255);
  width: 100%;
}
.hdivider {
  display: block;
  border-right: 2px solid rgb(0, 153, 255);
  height: 200px;
}
.sec1 .intro {
  margin: 40px 0px;
}
.sec1 .intro h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec1 .intro p {
  color: #777;
  margin: 20px 0px;
  font-size: 19px;
}
.sec1 .exp {
  margin: 40px 0px;
}

.sec1 .exp h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec1 .exp h3 {
  color: #777;
  margin: 20px 0px;
  font-size: 19px;
}
.sec1 .exp span {
  color: rgb(0, 153, 255);
}

/* sec2*/
.sec2 {
  margin: 40px 0px;
}
.sec2 .skills h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec2 .skills ul li {
  list-style-type: square;
  margin: 10px 0px;
  color: #777;
  font-size: 18px;
}
.sec2 .edu h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec2 .edu h3 {
  color: #777;
}
.sec2 .edu span {
  color: rgb(0, 153, 255);
}
.sec2 .edu p {
  color: #777;
  margin: 10px 0px;
  font-size: 18px;
}
.sec2 .lang {
  margin: 60px 0px;
}
.sec2 .lang h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec2 .lang h3 {
  color: #777;
}
.sec3 {
  margin: 20px 0px;
}
.sec3 h2 {
  color: rgb(0, 153, 255);
  font-size: 40px;
  font-weight: bold;
}
.sec3 p {
  font-size: 17px;
}
.sec3 p span {
  display: inline-block;
  margin-right: 10px;
  color: rgb(0, 153, 255);
}
